@import "./base.css";
@import "./index.css";
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--vt-c-divider-light-1);
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--vt-c-white);
}
::-webkit-scrollbar-thumb {
  background: var(--vt-c-text-dark-2);
}
